/* dichiarazione font */

@font-face {
    font-family: "Roxbo Bold";
    src: url("fonts/RoxboroughCF-Bold.ttf");
}

@font-face {
    font-family: "Roxbo";
    src: url("fonts/RoxboroughCF-Medium.ttf");
}

@font-face {
    font-family: "Roxbo Ita";
    src: url("fonts/RoxboroughCF-MediumItalic.ttf");
}

/* proprietà globali */

body {
    font-family: "Roxbo";
    background-color: #bfcba8;
    min-height: 1500px;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #bfcba8, transparent);
    z-index: 10000;
}

section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  #bfcba8;
    z-index: 10000;
    mix-blend-mode: color;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

h1 {
    font-size: calc(1vw + 2rem);
    font-family: "Roxbo Bold";
    text-transform: uppercase;
}

h3 {
    font-size: 42px;
    font-family: "Roxbo Bold";
}

h4 {
    font-size: 35px;
}

h5 {
    font-family: "Roxbo Bold";
}

hr {
    border: none;
    border-top: 3px double #303926;
    color: #303926;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #faf3e0;
    content: "§";
    padding: 0 4px;
    position: relative;
    top: -13px;
}

ul {
    list-style-position: inside;
}

li {
    font-size: 40px;
}

/* proprietà classi */

.navbar {
    background-color: #303926;
}

.navbar-brand {
    font-size: 30px;
}

.card {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 80px;
    background-color: #c9c0b9;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #303926 !important;
}

.Img {
    display: block;
    width: 100%;
    height: auto;
}

#text{
    position: relative;
    color: #faf3e0;
    font-size: 5em;
    z-index: 1;
}

#zelda_logo {
    width: 100%; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;
}
