/* dichiarazione font */

@font-face {
    font-family: "Roxbo Bold";
    src: url("fonts/RoxboroughCF-Bold.ttf");
}

@font-face {
    font-family: "Roxbo";
    src: url("fonts/RoxboroughCF-Medium.ttf");
}

@font-face {
    font-family: "Roxbo Ita";
    src: url("fonts/RoxboroughCF-MediumItalic.ttf");
}

/**********************
    LOADING SCREEN
**********************/

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #303926;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c9c0b9;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    letter-spacing: 5px;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
/**********************
    LANDING PAGE 
**********************/

/* proprietà globali */

body {
    font-family: "Roxbo";
    background-color: #faf3e0;
}

h1 {
    font-size: calc(1vw + 2rem);
    font-family: "Roxbo Bold";
}

h2 {
    font-size: calc(1vw + 1rem);
    font-family: "Roxbo Bold";
    text-transform: uppercase;
}

h3 {
    font-size: 42px;
    font-family: "Roxbo Bold";
    color: #303926;
}

h4 {
    font-size: 35px;
    color: #303926;
}

h5 {
    font-family: "Roxbo Bold";
    color: #303926;
}

p {
    color: #303926;
}

hr {
    border: none;
    border-top: 3px double #303926;
    color: #303926;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #faf3e0;
    content: "§";
    padding: 0 4px;
    position: relative;
    top: -13px;
}

ul {
    list-style-position: inside;
}

li {
    font-size: 40px;
}

/* proprietà classi */

.navbar {
    background-color: #303926;
}

.navbar-brand {
    font-size: 30px;
}

.card {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 3px solid #303926;
    background-color: #c9c0b9;
    border-radius: 25px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-img-top {
    object-fit: cover;
    border-bottom: 3px solid #303926;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.hrCard {
    border: none;
    border-top: 3px double #303926;
    color: #303926;
    overflow: visible;
    text-align: center;
    height: 5px;
}

.hrCard:after {
    background: #c9c0b9;
    content: "§";
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #303926 !important;
    border-radius: 25px;
    border: #303926;
}

.Img {
    display: block;
    width: 100%;
    border-radius: 25px;
}

.carousel-inner {
    width: 98%;
    margin: 0 auto;
    border-radius: 25px;
    border: 3px solid #303926;
}

.carousel-caption {
    /*background-color: #c9c0b9 !important;*/
    color: white;
    border-radius: 25px;
}

.roundedDiv {
    background-color: #c9c0b9;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}

#quote {
    border: 5px;
    text-align: center;
}

#output {
    text-align: center;
    margin: 25px auto;
    font-size: 26px;
}

/**********************
       CONTATTACI
**********************/

/* classi e elementi specifici di questa pagina hanno il suffisso C */

/* proprietà classi */

/* proprietà ID */

#bodyC {
    font-family: "Roxbo";
    background-color: #faf3e0;
    background-image: url(pictures/pexels-min-an-1599969-removebg-preview.png);
    background-position: left bottom;
    background-attachment: fixed;
    background-size: 1000px 1000px;
    background-repeat: no-repeat;
}

#formC {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
}

#nomeC {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
    border-bottom: none;
}

#nomeC:hover {
    background: #303926;
    color: #e2dedb;
}

#emailC {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
    border-bottom: none;
}

#emailC:hover {
    background: #303926;
    color: #e2dedb;
}

#messaggioC {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #303926;
    font-size: 0.875em;
    border: solid 1px #303926;
}

#messaggioC:hover {
    background: #303926;
    color: #e2dedb;
}

#submitC {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    margin: -5px 0px 0px 0px;
    background: transparent;
    outline: none;
    cursor: pointer;
    color: #303926;
    border: solid 1px #303926;
    border-top: none;
}

#submitC:hover {
    background: #303926;
    color: #e2dedb;
}

#form_desc {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 3em;
    text-align: center;
    letter-spacing: 10px;
    color: #303926;
}

#p_form_desc {
    position: relative margin 100px 0 25px 0;
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 2px;
}

/**********************
        ABOUT US 
**********************/

/* classi e elementi specifici di questa pagina hanno il suffisso AU */

/* proprietà classi */

.sectionAU {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionAU::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #bfcba8, transparent);
    z-index: 10000;
}

.sectionAU::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bfcba8;
    z-index: 10000;
    mix-blend-mode: color;
}

img.sectionAU {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

p.pAU {
    font-family: "Roxbo";
    font-size: 25px;
}

/* proprietà ID */

#bodyAU {
    background-color: #bfcba8;
    min-height: 1500px;
}

#textAU {
    position: relative;
    color: #faf3e0;
    font-size: 5em;
    z-index: 1;
}

#zelda_logo {
    width: 100%;
    width: auto;
    max-width: 400px;
    max-height: 400px;
}

/**********************
        LOGIN 
**********************/
#formLogin {
    position: relative;
    margin: 25px 0 25px 0;
    text-align: center;
    letter-spacing: 10px;
}

#bodyL {
    -webkit-background-style: cover;
    -moz-background-style: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center, center;
    background-repeat: no-repeat;
}

#emailL {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
    border-bottom: none;
}

#emailL:hover {
    background: #303926;
    color: #e2dedb;
}

#passwordL {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
    border-bottom: none;
}

#passwordL:hover {
    background: #303926;
    color: #e2dedb;
}

#submitL {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    margin: -5px 0px 0px 0px;
    background: transparent;
    outline: none;
    cursor: pointer;
    color: #303926;
    border: solid 1px #303926;
}

#submitL:hover {
    background: #303926;
    color: #e2dedb;
}

/**********************
       REGISTRATI
**********************/

#formRegistrati {
    position: relative;
    margin: 25px 0 25px 0;
    text-align: center;
    letter-spacing: 10px;
}

#bodyR {
    -webkit-background-style: cover;
    -moz-background-style: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
}

#nomeR {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
    border-bottom: none;
}

#nomeR:hover {
    background: #303926;
    color: #e2dedb;
}

#cognomeR {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
    border-bottom: none;
}

#cognomeR:hover {
    background: #303926;
    color: #e2dedb;
}

#emailR {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
    border-bottom: none;
}

#emailR:hover {
    background: #303926;
    color: #e2dedb;
}

#passwordR {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
    border-bottom: none;
}

#passwordR:hover {
    background: #303926;
    color: #e2dedb;
}

#submitR {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    margin: -5px 0px 0px 0px;
    background: transparent;
    outline: none;
    cursor: pointer;
    color: #303926;
    border: solid 1px #303926;
}

#submitR:hover {
    background: #303926;
    color: #e2dedb;
}

/**********************
    LE MIE PIANTE
**********************/

.bgimg {
    height: 300px;
    width: 100%;
    background-image: url("pictures/thomas-verbruggen-5A06OWU6Wuc-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.modal-dialog {
    background-color: #c9c0b9;
    border-color: #303926;
}

.modal-content {
    background-color: #faf3e0;
}

.modal-header {
    border-color: #303926;
    background-color: #303926;
    color: white;
}

.modal-footer {
    border-color: #303926;
}

#formLMP {
    position: relative;
    margin: 25px 0 25px 0;
    text-align: center;
    letter-spacing: 10px;
}

#nicknameLMP {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
}

#nicknameLMP:hover {
    background: #303926;
    color: #e2dedb;
}

#specieLMP {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
}

#specieLMP:hover {
    background: #303926;
    color: #e2dedb;
}

#submitLMP {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    margin: -5px 0px 0px 0px;
    background: transparent;
    outline: none;
    cursor: pointer;
    color: #303926;
    border: solid 1px #303926;
}

#submitLMP:hover {
    background: #303926;
    color: #e2dedb;
}

.loader {
    height: 10px;
    background-color: #303926;
    position: absolute;
}

.content {
    height: 100vh;
    width: 100%;
    display: none;
}

/**********************
        OBIETTIVI
**********************/

.bgObiettivi {
    height: 300px;
    width: 100%;
    background-image: url("pictures/scott-webb-hDyO6rr3kqk-unsplash.jpg");
    background-size: cover;
    background-position: 50% 45%;
}

.progress {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    height: 25px;
    border-radius: 25px;
    background-color: #f6eedf;
}

.roundedDiv2 {
    background-color: #303926;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}

.roundedDiv3 {
    background-color: #a0937d;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}

.completato {
    color: #bfcba8;
    text-transform: capitalize;
}

.noncompletato {
    color: #f6eedf;
    text-transform: capitalize;
}


#immaginiOb{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}