/* dichiarazione font */

@font-face {
    font-family: "Roxbo Bold";
    src: url("fonts/RoxboroughCF-Bold.ttf");
}

@font-face {
    font-family: "Roxbo";
    src: url("fonts/RoxboroughCF-Medium.ttf");
}

@font-face {
    font-family: "Roxbo Ita";
    src: url("fonts/RoxboroughCF-MediumItalic.ttf");
}

/**********************
    LANDING PAGE 
**********************/

/* proprietà globali */

body {
    font-family: "Roxbo";
    background-color: #faf3e0;
}

h1 {
    font-size: calc(1vw + 2rem);
    font-family: "Roxbo Bold";
    text-transform: uppercase;
}

h2 {
    font-size: calc(1vw + 1rem);
    font-family: "Roxbo Bold";
    text-transform: uppercase;
}

h3 {
    font-size: 42px;
    font-family: "Roxbo Bold";
}

h4 {
    font-size: 35px;
}

h5 {
    font-family: "Roxbo Bold";
}

hr {
    border: none;
    border-top: 3px double #303926;
    color: #303926;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #faf3e0;
    content: "§";
    padding: 0 4px;
    position: relative;
    top: -13px;
}

ul {
    list-style-position: inside;
}

li {
    font-size: 40px;
}

/* proprietà classi */

.navbar {
    background-color: #303926;
}

.navbar-brand {
    font-size: 30px;
}

.card {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #c9c0b9;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #303926 !important;
    border-radius: 25px;
    border: #303926;
}

.Img {
    display: block;
    width: 100%;
    height: sectionto;
}

.carousel-caption {
    /*background-color: #c9c0b9 !important;*/
    color: white;
    border-radius: 25px;
}

#quote {
    border: 5px;
    text-align: center;
}

#output {
    text-align: center;
    margin: 25px auto;
    font-size: 26px;
}

/**********************
       CONTATTACI
**********************/

/* classi e elementi specifici di questa pagina hanno il suffisso C */

/* proprietà classi */

/* proprietà ID */

#bodyC {
    font-family: "Roxbo";
    background-color: #faf3e0;
    background-image: url(pictures/pexels-min-an-1599969-removebg-preview.png);
    background-position: left bottom;
    background-attachment: fixed;
    background-size: 1000px 1000px;
    background-repeat: no-repeat;
}

#formC {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
}

#nomeC {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
    border-bottom: none;
}

#nomeC:hover {
    background: #303926;
    color: #e2dedb;
}

#emailC {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
    border-bottom: none;
}

#emailC:hover {
    background: #303926;
    color: #e2dedb;
}

#messaggioC {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #303926;
    font-size: 0.875em;
    border: solid 1px #303926;
}

#messaggioC:hover {
    background: #303926;
    color: #e2dedb;
}

#submitC {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    margin: -5px 0px 0px 0px;
    background: transparent;
    outline: none;
    cursor: pointer;
    color: #303926;
    border: solid 1px #303926;
    border-top: none;
}

#submitC:hover {
    background: #303926;
    color: #e2dedb;
}

#form_desc {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 3em;
    text-align: center;
    letter-spacing: 10px;
    color: #303926;
}

#p_form_desc {
    position: relative margin 100px 0 25px 0;
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 2px;
}

/**********************
        ABOUT US 
**********************/

/* classi e elementi specifici di questa pagina hanno il suffisso AU */

/* proprietà classi */

.sectionAU {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionAU::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #bfcba8, transparent);
    z-index: 10000;
}

.sectionAU::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bfcba8;
    z-index: 10000;
    mix-blend-mode: color;
}

img.sectionAU {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

p.pAU {
    font-family: "Roxbo";
    font-size: 25px;
}

/* proprietà ID */

#bodyAU {
    background-color: #bfcba8;
    min-height: 1500px;
}

#textAU {
    position: relative;
    color: #faf3e0;
    font-size: 5em;
    z-index: 1;
}

#zelda_logo {
    width: 100%;
    width: auto;
    max-width: 400px;
    max-height: 400px;
}

/**********************
        LOGIN 
**********************/

#formLogin {
    position: relative;
    margin: 25px 0 25px 0;
    text-align: center;
    letter-spacing: 10px;
}

#emailL {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
    border-bottom: none;
}

#emailL:hover {
    background: #303926;
    color: #e2dedb;
}

#passwordL {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
    border-bottom: none;
}

#passwordL:hover {
    background: #303926;
    color: #e2dedb;
}

#submitL {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    margin: -5px 0px 0px 0px;
    background: transparent;
    outline: none;
    cursor: pointer;
    color: #303926;
    border: solid 1px #303926;
}

#submitL:hover {
    background: #303926;
    color: #e2dedb;
}

/**********************
       REGISTRATI
**********************/

#formRegistrati {
    position: relative;
    margin: 25px 0 25px 0;
    text-align: center;
    letter-spacing: 10px;
}

#nomeR {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
    border-bottom: none;
}

#nomeR:hover {
    background: #303926;
    color: #e2dedb;
}

#cognomeR {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
    border-bottom: none;
}

#cognomeR:hover {
    background: #303926;
    color: #e2dedb;
}

#emailR {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
    border-bottom: none;
}

#emailR:hover {
    background: #303926;
    color: #e2dedb;
}

#passwordR {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #303926;
    border: solid 1px #303926;
    border-bottom: none;
}

#passwordR:hover {
    background: #303926;
    color: #e2dedb;
}

#submitR {
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    margin: -5px 0px 0px 0px;
    background: transparent;
    outline: none;
    cursor: pointer;
    color: #303926;
    border: solid 1px #303926;
}

#submitR:hover {
    background: #303926;
    color: #e2dedb;
}
